<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Major</title>
</head>
<body>
    <h1>Majors at {{ university }}</h1>
    <form action="/" method="post">
        <select name="major">
            {% for major in majors %}
            <option value="{{ major[2] }}">{{ major[2] }}</option>
            {% endfor %}
        </select>
        
        <!-- Hidden input field for university -->
        <input type="hidden" name="university_hidden" value="{{ university }}">

        <button type="submit">Submit</button>
    </form>
</body>
</html>
